<div ng-app="myApp" ng-controller = "ProjectController">
  <form novalidate>
    Project Name:<br>
    <input type="text" ng-model="project.name"><br>
    Project Description:<br>
    <input type="text" ng-model="project.desc">
    <br><br>
    <button ng-click="addProject()">Submit</button>
  </form>
  <p>form = {{project}}</p>
</div>

<script>
/* var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.master = {firstName: "John", lastName: "Doe"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
}); */
</script>